@import './src/styles.scss';

app-lesson-step{
    position: absolute;
    left: 50%;
    top: 100px;
    transform: translate(-50%,0);
}

.leftBtn{
    position: fixed;
    left: 80px;
    top: 50%;
    transform: translate(0,-50%);
    .triangle{
        transform: rotate(210deg) skewX(-30deg) scale(1,.866);
    }
}

.rightBtn{
    position: fixed;
    right: 80px;
    top: 50%;
    transform: translate(0,-50%);
    .triangle{
        transform: rotate(30deg) skewX(-30deg) scale(1,.866);
    }
}

.triangle {
    cursor: pointer;
	position: relative;
	background-color: $blue-primary;
    text-align: left;
    &:before,&:after {
        content: '';
        position: absolute;
        background-color: inherit;
    }
    &,&:before,&:after {
        width:  100px;
        height: 100px;
        border-top-right-radius: 30%;
    }
    &:before {
        transform: rotate(-135deg) skewX(-45deg) scale(1.414,.707) translate(0,-50%);
    }
    &:after {
        transform: rotate(135deg) skewY(-45deg) scale(.707,1.414) translate(50%);
    }
}

.overviewBtn{
    cursor: pointer;
    position: fixed;
    color: black;
    right: 50px;
    top: 35px;
    transform: translate(0,-50%);
    background-color: white;
    border-radius: 20px;
    z-index: 999;
    h2{
        margin: 0;
        margin-top: 10px;
        margin-bottom: 10px;
        margin-left: 30px;
        margin-right: 30px;
    }
}

